/* General Reset */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

figcaption {
  text-align: center;
  color: var(--RED-COLOR);
}

:root {
  --BLCK-COLOR: #333;
  --RED-COLOR: hsla(0, 100%, 25%, 0.772);
  --GRN-COLOR: rgb(128, 171, 128);
  --YELW-COLOR: rgb(204, 204, 70);
}

.scroller {
  animation: scroll-left 20s linear infinite;
  display: flex;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes dropDown {
  0% {
    transform: translateX(0) rotateX(0deg);
  }

  25% {
    transform: translateX(50px) rotateX(90deg) scale(0.6);
  }

  50% {
    transform: translateX(100px) rotateX(180deg) scale(0.4);
  }

  75% {
    transform: translateX(150px) rotateX(360deg) scale(0.2);
  }

  100% {
    transform: translateY(-200px) scaleY(1);
  }
}
